/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display');

body {
  color: #EFEFEF;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  background: #7D5C65;
}

h1 {
    text-align: center;
}